.Footer {
    display: flex;
    padding: 64px 112px 24px 112px;
    flex-direction: column;
    align-items: flex-start;
    background: #212b38;
}

.containeFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logoFooter {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 0px;

}
  .Tech {
    width: 30px; 
    height: auto; 
  }

  .Text {
    height: 30px;
    width: auto; 

  }
.footer span {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}
.footer{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}

.navegarFooter,
.contatofodder,
.redesSociaisfodder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:10px;
}

.navegarFooter .list-group,
.contatofodder div {
    margin-top: 10px;
}

.redesSociaisfodder .socialincos {
    display: flex;
    margin-top: 10px;
}

.redesSociaisfodder .socialincos a {
    margin-right: 10px;
}

.Endereço {
    word-wrap: break-word;
    padding-right: Auto;
    line-height: 29px;
    text-align: left;
}

.footer h4 {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}

.navegarFooter ul {
    margin: 0;
    padding: 0;
     list-style: none;
}

.navegarFooter li {
    font-size: 15px;
    color: #fff;
}

.navegarFooter .NavegarTitulo,
.Contatotitulo .contato,
.redesSociaisfodder .socialtitulo {
    align-self: flex-start;
    margin-bottom: 10px;
}


.rodapecopyR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px rgba(255, 255, 255, 0.10);
    padding-top: 10px;
}

.rodapecopyRText1,
.rodapecopyRText2 {
    display: flex;
    align-items: center;
}

.rodapecopyRText2 {
    margin-left: auto; /* Move para o lado direito no desktop */
}

@media (max-width: 700px) {
    /* Removendo padding nos dispositivos móveis */
    .logoFooter,
    .navegarFooter,
    .Contatotitulo,
    .redesSociaisfodder,
    .rodapecopyR {
        padding-top: 0;
        padding-bottom: 0;
    }

    /* Restante das regras para dispositivos móveis */
    .Footer {
        padding: 32px 16px;
        align-items: center;
        text-align: center;
    }

    .containeFooter {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .navegarFooter,
    .Contato,
    .redesSociaisfodder {
        margin: 0;
        text-align: center;
    }

    .navegarFooter .list-group,
    .Contato div {
        margin-top: 20px;
    }

    .redesSociaisfodder .socialincos {
        justify-content: center;
        margin-top: 20px;
    }

    .redesSociaisfodder .socialincos a {
        margin: 0 10px;
    }

    .Endereço {
        text-align: center;
    }

    .footer h4,
    .footer span,
    .navegarFooter li {
        font-size: 14px;
    }

    .navegarFooter ul {
        padding-left: 0;
    }

    .navegarFooter .NavegarTitulo,
    .Contatotitulo .contato,
    .redesSociaisfodder .socialtitulo {
        margin-bottom: 10px;
    }

    .rodapecopyR {
        margin-top: 40px;
        padding-right: 40px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-top: solid 2px rgba(255, 255, 255, 0.10);

    }

    .rodapecopyRText1,
    .rodapecopyRText2 {
        margin-top: 10px;
        margin-bottom: 10px;


    }
    .rodapecopyRText2 {
        padding-right: 60px;
    }
}
